@model UI.Models.Root

@{
    ViewData["Title"] = "API";
}

<h1>API</h1>

<form method="post" asp-action="API">
    <input type="text" class="form-control" placeholder="Enter exercise name" id="exercise" name="exercise" />
    <button type="submit" class="btn btn-primary d-block m-2">SUBMIT</button>
</form>

<div>
    <h4>Root</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Force)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Force)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryMuscles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryMuscles)
        </dd>
                </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryMuscles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryMuscles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Youtubelink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Youtubelink)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
