@model UI.Models.Exercise

@{
    ViewData["Title"] = "SOAP";
}

<h1>SOAP</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Force)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Force)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryMuscles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryMuscles)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryMuscles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryMuscles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YoutubeLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YoutubeLink)
        </dd>
    </dl>
</div>
